<div data-lyket-type="like" data-lyket-id=""></div>
<script>
    const currentURL = window.location.href;

    const urlObject = new URL(currentURL);

    let dataIdentifier = urlObject.pathname + urlObject.search;

    if (dataIdentifier.startsWith("/")) {
        dataIdentifier = dataIdentifier.substring(1);
        dataIdentifier = dataIdentifier.replace("/", "");
    }

    const lyketDiv = document.querySelector('[data-lyket-id]');
    if (lyketDiv) {
        lyketDiv.setAttribute('data-lyket-id', dataIdentifier);
    }
</script>

